{sys, [
  {lib_dirs, ["apps","deps"]},
  {rel, "fyltester", "1",
  [
    kernel,
    stdlib,
    sasl,
    cowboy,
    lager,
    lager_honeybadger_backend,
    fyltester
  ]},
  {rel, "start_clean", "",
  [
    kernel,
    stdlib
  ]},
  {boot_rel, "fyltester"},
  {profile, embedded},
  {excl_archive_filters, [".*"]}, % do no archive built libs
  {excl_sys_filters, ["^bin/.*",
    "^erts.*/bin/(dialyzer|typer)"]},
  {app, mnesia, [{incl_cond, exclude}]},
  {app, wx, [{incl_cond, exclude}]},
  {app, edoc, [{incl_cond, exclude}]},
  {app, gs, [{incl_cond, exclude}]},
  {app, lager, [{incl_cond, include}]}
]}.

{target_dir, "fyltester"}.

{overlay, [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "files/fyltester", "bin/fyltester"},
  {copy, "files/app.config", "releases/\{\{rel_vsn\}\}/sys.config"},
  {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
  {copy, "apps/fyltester/priv/fyltester.config", "etc/fyltester.config"}
]}.
