{http_port, 8080}.
{login, "test"}.
{pass, "test"}.
{tasks, [
  {video, [
      {"v3.avi", video_to_mp4_webm},
      {"v3.avi", video_to_hls}
  ]}
]}.
{dir, "../fyler/apps/fyler/src/tests/support"}.
{aws_s3_bucket, "tbconvert"}.
{aws_dir, "fyltester"}.
{fyler, "http://localhost:8008"}.
{fyltester, "http://localhost"}.